name: "ci"

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.0.4
        with:
          node-version: '18'
      - run: npm ci --no-progress
      - run: npm run lint

  test:
    name: Test using Node.js ${{ matrix.node }} running on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [18, 20, 22]
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4.0.4
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci --no-progress
      - run: npm run test:ci
